flow_R1.json
[{"id":"8920ea34.844c58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ad36f525.f28db8","type":"ui_gauge","z":"8920ea34.844c58","name":"","group":"c54e8231.9eaa5","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":"-50","max":"127","colors":["#00b500","#e6e600","#ca3838"],"seg1":"26","seg2":"45","x":730,"y":560,"wires":[]},{"id":"deffd75.3477b28","type":"serial in","z":"8920ea34.844c58","name":"","serial":"2476d431.ce0e4c","x":70,"y":140,"wires":[["9c6c2369.53225"]]},{"id":"63a30f39.1fd3a","type":"change","z":"8920ea34.844c58","name":"Luminosidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[["7ea03f10.e1af6"]]},{"id":"9c6c2369.53225","type":"json","z":"8920ea34.844c58","name":"","property":"payload","action":"","pretty":false,"x":270,"y":140,"wires":[["63a30f39.1fd3a","f05b5c76.65086","39c6c073.def4"]]},{"id":"f05b5c76.65086","type":"change","z":"8920ea34.844c58","name":"Temperatura","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["1cf3e3b6.4f26bc"]]},{"id":"39c6c073.def4","type":"change","z":"8920ea34.844c58","name":"Velocidade do vento","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.speedwind","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[["cd4abd14.6f7e4"]]},{"id":"7ea03f10.e1af6","type":"mqtt out","z":"8920ea34.844c58","name":"","topic":"Luminosidade","qos":"","retain":"","broker":"a5648afa.9e2ff8","x":760,"y":140,"wires":[]},{"id":"ab3d78dc.9a9118","type":"mqtt in","z":"8920ea34.844c58","name":"","topic":"Luminosidade","qos":"0","datatype":"auto","broker":"a5648afa.9e2ff8","x":450,"y":400,"wires":[["33d60a7.513def6"]]},{"id":"1cf3e3b6.4f26bc","type":"mqtt out","z":"8920ea34.844c58","name":"Temperatura","topic":"Temperatura","qos":"","retain":"","broker":"a2aaf909.ecd6c8","x":750,"y":200,"wires":[]},{"id":"d6923fb.a0664c","type":"mqtt in","z":"8920ea34.844c58","name":"","topic":"Temperatura","qos":"0","datatype":"auto","broker":"a2aaf909.ecd6c8","x":430,"y":560,"wires":[["ad36f525.f28db8"]]},{"id":"9fd3d098.f5a24","type":"mqtt in","z":"8920ea34.844c58","name":"","topic":"Velocidade do vento","qos":"0","datatype":"auto","broker":"dc20fee3.35265","x":430,"y":720,"wires":[["a6c9e5ed.d9c738"]]},{"id":"cd4abd14.6f7e4","type":"mqtt out","z":"8920ea34.844c58","name":"Velocidade do vento","topic":"Velocidade do vento","qos":"","retain":"","broker":"dc20fee3.35265","x":740,"y":260,"wires":[]},{"id":"a6c9e5ed.d9c738","type":"ui_gauge","z":"8920ea34.844c58","name":"","group":"c54e8231.9eaa5","order":1,"width":0,"height":0,"gtype":"gage","title":"Velocidade do vento","label":"Km/h","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"149","seg2":"150","x":740,"y":720,"wires":[]},{"id":"33d60a7.513def6","type":"ui_gauge","z":"8920ea34.844c58","name":"","group":"c54e8231.9eaa5","order":2,"width":0,"height":0,"gtype":"gage","title":"Luminosidade","label":"LM","format":"{{value}}","min":0,"max":"38000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15000","seg2":"26000","x":720,"y":400,"wires":[]},{"id":"c54e8231.9eaa5","type":"ui_group","name":"Default","tab":"9665c56a.074978","order":1,"disp":true,"width":"6","collapse":false},{"id":"2476d431.ce0e4c","type":"serial-port","serialport":"COM4","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a5648afa.9e2ff8","type":"mqtt-broker","name":"Luminosidade","broker":"http://www.mqtt-dashboard.com/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"Luminosidade","birthQos":"0","birthPayload":"payload.lux","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2aaf909.ecd6c8","type":"mqtt-broker","name":"Temperatura","broker":"http://www.mqtt-dashboard.com/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"Temperatura","birthQos":"0","birthPayload":"payload.temp","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dc20fee3.35265","type":"mqtt-broker","name":"Velocidade do vento","broker":"http://www.mqtt-dashboard.com/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"Velocidade do vento","birthQos":"0","birthPayload":"payload.speedwind","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9665c56a.074978","type":"ui_tab","name":"Home1","icon":"dashboard","disabled":false,"hidden":false}]