node-red/flows.json
[{"id":"8920ea34.844c58","type":"tab","label":"CP1","disabled":false,"info":""},{"id":"ad36f525.f28db8","type":"ui_gauge","z":"8920ea34.844c58","name":"","group":"c54e8231.9eaa5","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":"-50","max":"127","colors":["#00b500","#e6e600","#ca3838"],"seg1":"26","seg2":"45","x":490,"y":440,"wires":[]},{"id":"63a30f39.1fd3a","type":"change","z":"8920ea34.844c58","name":"Luminosidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":120,"wires":[["7ea03f10.e1af6"]]},{"id":"9c6c2369.53225","type":"json","z":"8920ea34.844c58","name":"","property":"payload","action":"","pretty":false,"x":630,"y":120,"wires":[["63a30f39.1fd3a","f05b5c76.65086","39c6c073.def4"]]},{"id":"f05b5c76.65086","type":"change","z":"8920ea34.844c58","name":"Temperatura","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":180,"wires":[["1cf3e3b6.4f26bc"]]},{"id":"39c6c073.def4","type":"change","z":"8920ea34.844c58","name":"Velocidade do vento","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.speedwind","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":240,"wires":[["cd4abd14.6f7e4"]]},{"id":"7ea03f10.e1af6","type":"mqtt out","z":"8920ea34.844c58","name":"","topic":"Luminosidade","qos":"","retain":"","broker":"a5648afa.9e2ff8","x":1120,"y":120,"wires":[]},{"id":"ab3d78dc.9a9118","type":"mqtt in","z":"8920ea34.844c58","name":"","topic":"Luminosidade","qos":"0","datatype":"auto","broker":"a5648afa.9e2ff8","nl":false,"rap":false,"x":230,"y":360,"wires":[["33d60a7.513def6"]]},{"id":"1cf3e3b6.4f26bc","type":"mqtt out","z":"8920ea34.844c58","name":"Temperatura","topic":"Temperatura","qos":"","retain":"","broker":"a2aaf909.ecd6c8","x":1110,"y":180,"wires":[]},{"id":"d6923fb.a0664c","type":"mqtt in","z":"8920ea34.844c58","name":"","topic":"Temperatura","qos":"0","datatype":"auto","broker":"a2aaf909.ecd6c8","x":230,"y":440,"wires":[["ad36f525.f28db8"]]},{"id":"9fd3d098.f5a24","type":"mqtt in","z":"8920ea34.844c58","name":"","topic":"Velocidade do vento","qos":"2","datatype":"auto","broker":"dc20fee3.35265","nl":false,"rap":false,"x":250,"y":520,"wires":[["a6c9e5ed.d9c738","88c0a652.598648"]]},{"id":"cd4abd14.6f7e4","type":"mqtt out","z":"8920ea34.844c58","name":"Velocidade do vento","topic":"Velocidade do vento","qos":"","retain":"","broker":"dc20fee3.35265","x":1100,"y":240,"wires":[]},{"id":"a6c9e5ed.d9c738","type":"ui_gauge","z":"8920ea34.844c58","name":"","group":"c54e8231.9eaa5","order":1,"width":0,"height":0,"gtype":"gage","title":"Velocidade do vento","label":"Km/h","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"149","seg2":"150","x":520,"y":520,"wires":[]},{"id":"33d60a7.513def6","type":"ui_gauge","z":"8920ea34.844c58","name":"","group":"c54e8231.9eaa5","order":2,"width":0,"height":0,"gtype":"gage","title":"Luminosidade","label":"LM","format":"{{value}}","min":0,"max":"38000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15000","seg2":"26000","x":500,"y":360,"wires":[]},{"id":"94ec46fe.f8f488","type":"function","z":"8920ea34.844c58","name":"","func":"if (msg.payload > 80) msg.payload = `A velocidade está maior que 80km/h\\n\nCuidado com os fortes ventos!`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":620,"wires":[["a11a140a.88e318"]]},{"id":"fb754403.9cc468","type":"twitter out","z":"8920ea34.844c58","twitter":"","name":"Tweet","x":1130,"y":560,"wires":[]},{"id":"1c93f45e.bc91cc","type":"debug","z":"8920ea34.844c58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":640,"wires":[]},{"id":"3f5b6e63.c76a12","type":"serial in","z":"8920ea34.844c58","name":"","serial":"790ed332.97ea0c","x":230,"y":120,"wires":[["a9ff4ccc.9259c"]]},{"id":"a11a140a.88e318","type":"delay","z":"8920ea34.844c58","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":740,"y":620,"wires":[["bff29396.5c4e8"]]},{"id":"88c0a652.598648","type":"json","z":"8920ea34.844c58","name":"","property":"payload","action":"","pretty":false,"x":410,"y":580,"wires":[["94ec46fe.f8f488"]]},{"id":"a9ff4ccc.9259c","type":"delay","z":"8920ea34.844c58","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":440,"y":120,"wires":[["9c6c2369.53225"]]},{"id":"bff29396.5c4e8","type":"switch","z":"8920ea34.844c58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"},{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":620,"wires":[["fb754403.9cc468"],["1c93f45e.bc91cc"]]},{"id":"23e08fa5.8e28a","type":"comment","z":"8920ea34.844c58","name":"Conexão com arduino\\n via porta COM","info":"","x":220,"y":180,"wires":[]},{"id":"cad303a0.35956","type":"comment","z":"8920ea34.844c58","name":"Splita os dados\\n para cada publisher","info":"","x":810,"y":300,"wires":[]},{"id":"7dc7b51c.d12c9c","type":"comment","z":"8920ea34.844c58","name":"Publicar(PUB) nos topicos\\n via MQTT ","info":"","x":1130,"y":300,"wires":[]},{"id":"55b41fc5.ec31b","type":"comment","z":"8920ea34.844c58","name":"Recebendo os valores\\n via Subscriber(SUB)","info":"","x":180,"y":580,"wires":[]},{"id":"7ace08a6.009e98","type":"comment","z":"8920ea34.844c58","name":"Fluxo para validação\\n se a velocidade do vento está maior que 80km/h","info":"","x":800,"y":680,"wires":[]},{"id":"c54e8231.9eaa5","type":"ui_group","name":"Default","tab":"9665c56a.074978","order":1,"disp":true,"width":"6","collapse":false},{"id":"a5648afa.9e2ff8","type":"mqtt-broker","name":"Luminosidade","broker":"http://www.mqtt-dashboard.com/","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"Luminosidade","birthQos":"0","birthPayload":"payload.lux","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2aaf909.ecd6c8","type":"mqtt-broker","name":"Temperatura","broker":"http://www.mqtt-dashboard.com/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"Temperatura","birthQos":"0","birthPayload":"payload.temp","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dc20fee3.35265","type":"mqtt-broker","name":"Velocidade do vento","broker":"http://www.mqtt-dashboard.com/","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"Velocidade do vento","birthQos":"0","birthPayload":"payload.speedwind","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"790ed332.97ea0c","type":"serial-port","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"9665c56a.074978","type":"ui_tab","name":"Home1","icon":"dashboard","disabled":false,"hidden":false}]